#all-message{
  display: block;
  height: 500px;
  overflow: scroll;
}
.message{
  display: inline-block;
  border: solid 1px deepskyblue;
  padding: 0.3rem;
  border-radius: 0.5rem;
}
.left-align{
  display: flex;
  margin-right: 10px;
}
.single-message{
  border-bottom: solid 1px black;
}
